* {
    margin-top: 0;
    padding-top: 0;
    box-sizing: border-box;
}

.header-title {
    background-color: rgb(0, 116, 189);
    height: 70px;
    line-height: 70px;
    font-size: 20px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    padding-left: 60px;
    color: rgb(246, 246, 246);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.header-title-2{
    margin-top: -65px;
    color: rgb(237, 237, 237);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: none;
    margin-left:1000px;
}
.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.sub-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 23.5%;
    height: auto;
    background-color: white;
    text-align: center;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);

}
.sub-menu h4 {
    margin-top: 10px;
    font-size: 20px;
}

.mywrapper {
    display: flex;
    flex-flow: row wrap;
}

.mycard {
    width: 99%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
    margin: 10px;
    margin-left: 16.5px;
}


/* PC */

@media (min-width: 1024px) {
    .mycard {
        width: 48%;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .sub-menu {
        width: 48%;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .sub-menu {
        width: 96%;
    }
}